.line24 {
    line-height: 24px;
}
.crop-identify,
.cf-result-tilte,
.sutable-legen,
.sutable-degree,
.current-adress,
.componet,
.sutable-params-title,
.params-menu
{
    padding-left: 12px;
}
.sutable-cf-result,
.sutable-result {
    position: fixed;
    top: 64px;
    background: #fff;
}
.sutable-cf-result {
    width: 315px;
    border: 1px solid #ededed;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 8px #aeaeae;
}
.sutable-result {
    right: 0;
    width: 254px;
    border: 1px solid #ededed;
    border-radius: 0 0 4px 4px;
    background: #f1f4f4;
    box-shadow: 0 2px 8px #aeaeae;
}
.cf-result-bg {
    line-height: 40px;
    width: 100%;
    height: 40px;
    padding-left: 14px;
    border-bottom: 1px solid #ededed;
    background: #f1f4f4;
}
.crop-identify {
    margin: 12px 0;
}
.crop-list {
    margin-left: 10px;
}
.crop-item {
    display: inline-block;
    margin-right: 14px;
    padding: 2px 15px;
    cursor: pointer;
    color: #626262;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
}
.crop-list .crop-active {
    color: #fff;
    background: #53b000;
}
.crop-layer-slider {
    border-bottom: 1px solid #ededed;
}
.crop-layer-slider .viewtarget-opacity {
    width: 100%;
    margin-bottom: 0;
    padding: 18px 0 0 12px;
    border: none;
}
.crop-layer-slider .viewtarget-slide-bg {
    margin: -4px 6px;
}
.slide-spots {
    top: -2px;
    left: 192px;
    width: 16px;
    height: 16px;
    cursor: move;
    background: url(/assets/images/planting/pl-slide-block.png) no-repeat;
}
.cf-result-tilte {
    margin: 15px 0;
}
.cf-layer-text {
    line-height: 16px;
    width: 30px;
    height: 18px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #599b0c;
    border-right: 1px solid #599b0c;
    border-radius: 2px 0 0 2px;
    background: #8fc31f;
    box-shadow: 0 -1px 1px #7aaf3d;
}
.cf-layer-switch {
    line-height: 18px;
    position: relative;
    top: -1px;
    width: 20px;
    height: 19px;
    transform: rotate(90deg);
    text-align: center;
    color: #c5c5c5;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: 0 1px 1px #aeaeae;
}
.cf-layer-ctl {
    margin-right: 12px;
    cursor: pointer;
}
.cf-layer-close .cf-layer-text {
    float: right;
    border-top: 1px solid #7b90a2;
    border-right: 1px solid #7b90a2;
    border-radius: 0 2px 2px 0;
    background: #95adc4;
    box-shadow: 0 -1px 1px #a6b3c0;
}
.cf-layer-close .cf-layer-switch {
    float: left;
}
.show-params {
    overflow-x: hidden;
    margin: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
}
.show-params p {
    line-height: 46px;
    width: 100%;
    padding: 0 18px;
}
.show-params-content {
    display: none;
    padding: 10px;
    padding-left: 30px;
    background: #eee;
    box-shadow: inset 1px 2px 5px #dbdbdb;
}
.show-detail .triangle-bottom {
    margin: 0 0 0 4px;
    border-top: 10px solid #707071;
}
.show-detail .triangle-top {
    display: inline-block;
    margin-left: 4px;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #707071;
    border-left: 5px solid transparent;
}
.triangle-bottom {
    position: relative;
    top: 6px;
    border-top: 8px solid #959595;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.triangle-right {
    border-top: 4px solid transparent;
    border-left: 8px solid #959595;
}
.triangle-right,
.triangle-bottom {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 10px 10px 0 0;
    border-bottom: 4px solid transparent;
}
.show-params-txt {
    color: #8c8b8b;
}
.show-params-wrap {
    margin: 14px 0;
}
.nav-btn-list {
    top: -1px;
}
.nav-btn-map {
    top: 180px;
}
.help-download-tools {
    right: -36px;
    width: 36px;
    background: #fff;
    box-shadow: 1px 2px 4px #a7a7a7;
}
.help-download-tools span {
    line-height: 45px;
    display: block;
    width: 36px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    box-shadow: 1px 0 4px #edecec inset;
}
.help-download-tools .cf-active {
    background: #768fa8;
    box-shadow: 1px 0 4px #737d88 inset;
}
.help-download-tools .cf-active svg {
    fill: #fff;
}
.help-download-tools svg {
    fill: #768fa8;
}
.crop-layer-special {
    border-bottom: 1px solid #fff !important;
}
.sutable-legen {
    line-height: 38px;
    height: 38px;
    border-bottom: 1px solid #ededed;
    background: #fff;
}
.sutable-legen i {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 24px 0 8px; 
    border-radius: 2px;
    background: #b8ea5e;
}
.sutable-legen i,
.sutable-legen span {
    vertical-align: middle;
}
.sutable-result-detail {
    display: none;
    width: 100%;
    margin-top: 8px;
    border-top: 1px solid #ededed;
    background: #fff;
}
.sutable-degree {
    margin: 12px 0;
    color: #9c9c9c;
}
.sutable-degree span {
    margin: 0 14px 0 8px;
}
.current-map {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/planting/pl-map.png') center center no-repeat;
}
.current-adress i {
    vertical-align: middle;
}
.current-adress {
    line-height: 30px;
    border-bottom: 1px solid #ededed;
}
.stars {
    margin: 0 20px;
}
.stars svg {
    width: 16px;
    height: 16px;
    fill: #8fc31e;
}
.stars .icon-stars {
    fill: #bbc4cc;
}
.componet {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #ededed;
}
.sutable-level {
    color: #757575;
}
.show-detail span {
    line-height: 34px;
    display: inline-block;
    width: 210px;
    height: 34px;
    margin: 18px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background: #c2e578;
}
.adress-detail {
    display: none;
    overflow-x: hidden;
    background: #f1f4f4;
}
.sutable-params-title {
    font-size: 14px;
    line-height: 40px;
}
.sutable-params h3 {
    width: 38px;
}
.cf-layer-ctl {
    margin-left: 24px;
}
.params-ul li {
    margin-bottom: 14px;
}
.params-menu {
    border-bottom: 1px solid #dcdcdc;
}
.params-ul,
.sutable-params h3 {
    margin-top: 12px;
}
.sutable-params h3 {
    color: #a0a0a0;
}
.help-content {
    padding: 0 34px;
}
.help-content {
    margin: 20px 0;
}
.crop-help-data {
    top: 55%;
    overflow-x: hidden;
    height: 562px;
    border-radius: 6px;
}
.help-content p {
    line-height: 24px;
    text-indent: 2em;
    color: #6f6f6f;
}
.help-content-img {
    display: block;
    width: 408px;
    height: 376px;
    margin: 10px auto;
}
.icon-arrow-left {
    display: none;
}
.layer-ctl svg {
    display: none;
}
.nav-btn-map .layer-ctl {
    position: static;
    right: 0;
    border-top: 1px solid #737d88;
}
.nav-btn-map img {
    margin: 5px auto;
}
.planting-map .ol-zoom {
    right: 0;
    left: 315px;
}
.planting-map {
    z-index: 1;
    top: 284px;
    right: 0 ;
    left: 315px;
    width: 38px;
}
.planting-map .map-icon {
    line-height: 38px;
    width: 37px;
    height: 38px;
    margin-left: -1px;
    padding-top: 5px;
    background: #768fa8;
    box-shadow: 1px 0 4px #737d88 inset;
    fill: #fff;
}
.planting-map .map-icon:hover,
.cf-back:hover {
    background: #8eb2d4;
}
.planting-viewport .ol-control {
    top: 332px;
    right: 0;
    left: 315px;
    width: 36px;
    height: 76px;
    box-shadow: 1px 2px 4px #a7a7a7;
}
.planting-viewport .ol-control button {
    font-size: 18px;
    line-height: 38px;
    width: 37px;
    height: 38px;
    margin-left: -1px;
    color: #6787b6;
    background: #fff;
    box-shadow: 2px 0 4px #edecec inset;
}
.planting-viewport .ol-control button:hover {
    background: #eceff4;
}
.toogle-menu {
    cursor: pointer;
}
.cf-help:hover,
.cf-download:hover {
    background: #eceff4;
}
.params-ul li span {
    margin-left: 20px;
}
.btn-close {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    color: #999;
    border: 1px solid #eee;
    border-radius: 50%;
}
.btn-close:hover {
    color: #dab670;
}
