#popup {
    min-width: 200px;
}
.weather-data {
    position: absolute;
    z-index: 4;
    top: 55%;
    left: 50%;
    display: none;
    width: 700px;
    height: 400px;
    transform: translate(-50%,-50%);
    border-radius: 0 6px 0 0;
    background: #fff;
}
#weather-linecharts {
    width: 700px;
    height: 350px;
    margin-left: 20px;
    top: -22px;
}
.weather-order ul {
    position: relative;
    top: -36px;
    overflow: hidden;
    width: 578px;
    height: 36px;
    padding-left: 8px;
    border-radius: 8px 8px 0 0;
    background: #fff;
}
.weather-order ul li {
    line-height: 36px;
    position: relative;
    float: right;
    overflow: hidden;
    width: 136px;
    height: 36px;
    margin: 0 0 0 -22px;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-radius: 6px 6px 0 0;
    background: #f3f2f2;
    box-shadow: 0 0 17px #ecebeb;
}
.weather-order ul li:hover {
    background: #fff;
}
.weather-order ul span {
    position: absolute;
    top: 6px;
    left: 22px;
    width: 136px;
    height: 29px;
}
.weather-order ul .weather-bg-height {
    position: absolute;
    top: 0;
    left: 0;
    width: 136px;
    height: 6px;
}
.weather-order ul .weather-txt {
    position: relative;
    z-index: 2;
}
.weather-order ul .borwse-color1 {
    background: #a1e0fc;
}
.weather-order ul .borwse-color2 {
    background: #fcd8d7;
}
.weather-order ul .borwse-color3 {
    background: #fae4ad;
}
.weather-order ul .borwse-color4 {
    background: #90dbd9;
}
.weather-order ul .borwse-color5 {
    background: #ddebba;
}
.weather-close,
.viewtarget-close {
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #a9a8a8;
}
.weather-close:hover {
    color: #b28850;
}
.weather-order ul svg {
    position: relative;
    z-index: 2;
    top: 7px;
    left: -4px;
    width: 26px;
    height: 22px;
}
.date-slider {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 600px;
    height: 50px;
}
#water-active {
    left: 0;
}
.weather-order ul .bttom-color {
    z-index: 2;
    border-bottom: 1px solid #fff;
    background: #fff;
}
.we-product {
    position: fixed;
    z-index: 2;
    top: 65px;
    left: -315px;
    width: 355px;
    height: 360px;
}
.we-product-ul li {
    line-height: 36px;
    margin: 2px 0;
    padding: 0 10px;
    cursor: pointer;
}
.we-product-btns {
    overflow: hidden;
    width: 40px;
    color: #fff;
    border-radius: 5px;
}
.we-product-btns span {
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    background: #4e5152;
}
.we-product-btns span:hover {
    background: #353738;
}
.we-product-title {
    font-size: 16px;
    line-height: 42px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
}
.we-product-number {
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #777;
}
.we-product-title .icon-remove {
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    color: #c4c4c4;
}
.we-product-title .icon-remove:hover {
    color: #a09d9d;
}
.we-product-btns .active {
    background: #b70003;
}
.we-product-btns .active:hover {
    background: #840002;
}
.we-product-list {
    width: 315px;
    padding-bottom: 20px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 0 1px rgba(41, 37, 37, .16);
}
.we-product-ul  p {
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    border-radius: 4px;
}
.we-product-ul  p:hover {
    background: #eee;
}
.we-product-ul  .product-active p {
    color: #fff;
    border-radius: 4px 4px 0 0;
    background: #85898a;
}
.product-active {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}
.we-product-ul .triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 4px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #777;
}
.product-active .triangle-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: mymove .5s 1;
    -moz-animation: mymove .5s 1;
    -ms-animation: mymove .5s 1;
    animation: mymove .5s 1;
    border-left: 6px solid #fff;
}
@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@-webkit-keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes mymovestop {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes mymovestop {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.we-product-show {
    overflow: hidden;
}
.product-active .we-product-show {
    border-right: 1px solid #838486;
    border-bottom: 1px solid #838486;
    border-left: 1px solid #838486;
}
.we-product-date-container {
    position: absolute;
    top: 68px;
    left: 54px;
    display: none;
}
.layer-style {
    font-size: 14px;
    margin: 18px 0 10px 0;
}
.we-product-date-container input {
    display: block;
    float: left;
}
.we-product-date-container btn {
    width: 50px;
}
.form-control {
    width: 108px;
}
.we-legend {
    position: fixed;
    right: 22px;
    bottom: 100px;
    display: none;
    width: 112px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,.8);
    box-shadow: 0 1px 6px #acacac;
}
.we-legend-ul {
    height: 100px;
}
.we-legend h3 {
    margin-bottom: 10px;
}
.we-legend li {
    position: relative;
    width: 16px;
    background: #eee;
}
.we-legend li:hover {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1px 1px  #4e5152;
}
.we-legend li span {
    position: absolute;
    top: 0;
    left: 34px;
    display: none;
    width: 150px;
    text-align: left;
}
.we-legend li:hover span {
    top: -1px;
    left: 33px;
}
.we-product-introduce {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    box-shadow: 5px 4px 3px #e5e5e5;
}
.we-legend li .we-legend-active {
    display: block;
}
.we-product-show li {
    padding-left: 18px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.we-special-style li {
    overflow-y: auto;
    text-indent: 2em;
    border-bottom: none;
}
.we-special-style h3 {
    line-height: 30px;
}
.product-list li:hover {
    text-decoration: underline;
    color: #2f3031;
}
.we-product-detail .viewtarget-slide-bg {
    margin: -4px 0;
}
.we-opacity {
    line-height: 30px;
    height: 30px;
    margin-left: 10px;
}
.we-icon {
    padding-top: 6px;
}
.we-product-data {
    margin-bottom: 24px;
}
.no-data {
    z-index: 2;
    top: 50%;
    left: 50%;
    display: none;
    margin-top: -45px;
    margin-left: -108px;
}
.we-product-btns .we-help {
    font-size: 18px;
}
@media (min-width: 1280px) {
    .weather-data {
        width: 894px;
        height: 510px;
    }
    #weather-linecharts {
        width: 894px;
        height: 450px;
    }
    .report-data .report-list {
        height: 450px;
    }
}
@media (min-width: 1920px) {
    .weather-data {
        width: 1176px;
        height: 560px;
    }
    #weather-linecharts {
        width: 1176px;
        height: 500px;
    }
    .report-data .report-list {
        height: 500px;
    }
}
@media (max-width: 800px) {
    .we-special-style li {
        overflow-y: auto;
        height: 398px;
    }
}
